body, 
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 12px;
  color: #424242;
}
*{
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0; 
}

header,
nav, 
footer, 
section, 
article, 
div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
header

*/

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    background-color: darkblue;
    
  }
  
  .header__inner {
    color: azure;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header__logo {
    height: 72px;
    width:72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
  }
  
  .header__title {
    font-weight: 300;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
  }

  /*
  nav bar
  
  */

  .nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightskyblue;
  }
  
  .nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .nav__item {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
  }
  
  .nav a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1rem 2rem;
    font-size: 1.05rem;
  }
  
   .nav li:hover ,.nav a:hover{
    font-weight: 700;
    background-color: rgba(170, 163, 163, 0.1);
    border-radius: 10px;
    text-decoration: underline;
  }

  /*
    Main
  */

  main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }
  
   .content{
    display: flex;
    flex-direction: column;
    max-width: 100%;
   }

   .content .main-img{
    max-width: 100%;

  }
  .content video{
    width: 100%;
    height: 100%;
    object-fit: cover;}

  /*
     travels
  */
  .travels{
  max-width: 100%;
  display:flex;
  flex-direction: column;
  }

  .travels h1, .travels .review-a{
    text-align: center;
    margin: 1.5em;
    text-transform:uppercase;
    font-weight: 900;

  }

 .review-a{
    margin-bottom: 3%;
  }

  .review-a a{
    font-weight:inherit;
    text-decoration: none;
    background:hotpink;
    color:aliceblue;
    padding: 1.5% 2.75%;
    border-radius: 5px;
    font-size: larger;

  }
  .review-a a:hover{
    background-color: #bd216f;}

  .travels .cards{
    display:flex;
    flex-wrap: wrap;
  }
  .img-card{
    width:100%;
    text-align: center;
  }

   .img-card img{
      border:3px solid #00008b;
      box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
      width:12rem;
      height:13.5rem;
      margin-bottom: 5%;
}


/*flight card*/

.content .flightes{
  display:flex;
  max-width:100%;
  flex-direction: column; 
  text-align: center;
  margin-left:3rem;
  margin-right:3rem;}

.flightes .head2{
  margin: 1rem;
}

.cards-flight{
  border:2px outset #bbb8b8;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.cards-flight .info-flight
{
  margin-bottom:2%;
  max-width:100%;
  display:flex;
  flex-wrap: wrap;
  
}
.info-flight .img-info,.info-flight .p-info, .info-flight .a-info{
  width:100%;
  text-align: center;
  padding: 1rem; 
  
}
.img-info img{
  max-width:12rem;
  max-height: 12rem;

}

/**
design the reviews**/


.content .comments{
  text-align: left;
}

.comments .head2{
  text-align: center;
  margin-bottom: 3rem;
}

.comments .comments-info {
  border:1px solid rgb(206, 200, 200);
  border-radius: 5px;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 3%;
  padding:1rem;
  display:flex;
  flex-direction: row;
  align-items: center;
  background: #f7f7f7;
}

.comments-info  .img-gender{
  width:7rem;
  height:5.5rem;
}

.img-gender img{
  width:100%;
  height:100%;
}


.user-review{
  padding-top: 1rem;
}


.user-review p{
  padding:0 .5rem;
  font-size: 1rem;
}


.comments .comments-render{
  display: none;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  max-width: 60%;
  border-radius: 5px;
  background-color: #bbb8b8;
  margin: 5rem auto;
}

.comments-render #form{
  margin:1% auto;
  width:70%;
}

.form-group .form-control{
  margin-bottom: 2rem;
  margin-top: 1rem;
}


.comments-render  .send-item{
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: large;
}

.comments .button-add{
  text-align: center;
}

/*
 * Footer
 */

 footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
  text-align: center;
  background-color: darkblue;
  position: relative;
  bottom: 0;
}

.fa{
  color: #E0E0E0;
  margin-right:5% ;
} 




/* add breaks */
@media screen and (min-width:521px){
  .img-card{
    width:50%;
  } 
  .cards img:last-of-type{
    margin-left:0;
}
}
@media screen and (min-width:621px){
  .img-card{
    width:33.3%;
  } 

}

@media  screen and (min-width:750px) {
  .info-flight .img-info{
    max-width: 30%;
  }
  
  .info-flight .p-info{
    margin: auto;


    max-width:50%;
  }
  
   .info-flight .a-info{
    margin: auto;


    max-width:20%;

   }
  
}